<div class="col-md-9 col-9" style="margin: 0px auto;">

    <div class="card" style="height:auto">
        <div class="card-header">

            <div class="col-12 fonticon-container">
                <div class="fonticon-wrap">
                    <i class="feather icon-plus-circle text-success"></i>
                </div>
                <label class="fonticon-classname mt-1">افزودن نویسنده جدید </label>
            </div>

        </div>
        <div class="card-content">
            <div class="card-body">

                <form class="form form-vertical" [formGroup]="authorForm" (ngSubmit)="submitAuthor()">
                    <div class="form-body">
                        <div class="row">

                            <div class="col-12">
                                <div class="form-group">
                                    <label for="first-name-icon">نام</label>
                                    <div class="position-relative has-icon-left">
                                        <input formControlName="firstName" type="text" id="first-name-icon" class="form-control" name="fname-icon" placeholder="نام">
                                        <div class="form-control-position">
                                            <i class="feather icon-user"></i>
                                        </div>
                                    </div>

                                    <p class="text-danger mt-1" *ngIf="authorForm.controls.firstName.errors?.required && authorForm.controls.firstName.touched">
                                        * لطفا نام خود را وارد نمایید
                                    </p>
                                    <p class="text-danger" *ngIf="authorForm.controls.firstName.errors?.maxlength">
                                        تعداد کاراکتر مجاز 250 کاراکتر می باشد
                                    </p>
                                </div>
                            </div>

                            <div class="col-12">
                                <div class="form-group">
                                    <label for="last-name-icon">نام خانوادگی</label>
                                    <div class="position-relative has-icon-left">
                                        <input formControlName="lastName" type="text" id="last-name-icon" class="form-control" name="fname-icon" placeholder="نام خانوادگی">
                                        <div class="form-control-position">
                                            <i class="feather icon-user"></i>
                                        </div>
                                    </div>

                                    <p class="text-danger mt-1" *ngIf="authorForm.controls.lastName.errors?.required && authorForm.controls.lastName.touched">
                                        * لطفا نام خانوادگی خود را وارد نمایید
                                    </p>
                                    <p class="text-danger" *ngIf="authorForm.controls.lastName.errors?.maxlength">
                                        تعداد کاراکتر مجاز 250 کاراکتر می باشد
                                    </p>

                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <label for="email-id-icon">ایمیل</label>
                                    <div class="position-relative has-icon-left">
                                        <input formControlName="email" type="email" id="email-id-icon" class="form-control" name="email-id-icon" placeholder="ایمیل">
                                        <div class="form-control-position">
                                            <i class="feather icon-mail"></i>
                                        </div>
                                    </div>

                                    <p class="text-danger mt-1" *ngIf="authorForm.controls.email.errors?.required && authorForm.controls.email.touched">
                                        * لطفا ایمیل خود را وارد نمایید
                                    </p>
                                    <p class="text-danger" *ngIf="authorForm.controls.email.errors?.maxlength">
                                        تعداد کاراکتر مجاز 500 کاراکتر می باشد
                                    </p>
                                    <p class="text-danger mt-1" *ngIf="authorForm.controls.email.errors?.email">
                                        * فرمت وارد شده اشتباه می باشد
                                    </p>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <label for="first-name-icon">نام کاربری</label>
                                    <div class="position-relative has-icon-left">
                                        <input formControlName="userName" type="text" id="first-name-icon" class="form-control" name="fname-icon" placeholder="نام کاربری">
                                        <div class="form-control-position">
                                            <i class="feather icon-user"></i>
                                        </div>
                                    </div>


                                    <p class="text-danger mt-1" *ngIf="authorForm.controls.userName.errors?.required && authorForm.controls.userName.touched">
                                        * لطفا نام کاربری خود را وارد نمایید
                                    </p>
                                    <p class="text-danger" *ngIf="authorForm.controls.userName.errors?.maxlength">
                                        تعداد کاراکتر مجاز 250 کاراکتر می باشد
                                    </p>
                                </div>
                            </div>


                            <div class="col-12">
                                <button type="submit" [disabled]="authorForm.invalid" class="btn btn-primary mr-1 mb-1 waves-effect waves-light">ثبت</button>


                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<swal #registerAuthSwal title="" text="" icon="">
</swal>