<!-- BEGIN: Main Menu-->
<div class="main-menu menu-fixed menu-light menu-accordion menu-shadow" data-scroll-to-active="true">
    <div class="navbar-header">
        <ul class="nav navbar-nav flex-row">
            <li class="nav-item mr-auto">
                <a class="navbar-brand" href="assets/html/rtl/vertical-collapsed-menu-template/index.html">
                    <div class="brand-logo"></div>
                    <h2 class="brand-text mb-0">Vuexy</h2>
                </a>
            </li>
            <li class="nav-item nav-toggle"><a class="nav-link modern-nav-toggle pr-0" data-toggle="collapse"><i class="feather icon-x d-block d-xl-none font-medium-4 primary toggle-icon"></i><i class="toggle-icon feather icon-disc font-medium-4 d-none d-xl-block collapse-toggle-icon primary" data-ticon="icon-disc"></i></a></li>
        </ul>
    </div>
    <div class="shadow-bottom"></div>
    <div class="main-menu-content">
        <ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation">
            <li class=" nav-item"><a href="index.html"><i class="feather icon-home"></i><span class="menu-title" data-i18n="Dashboard">پیشخوان</span><span class="badge badge badge-warning badge-pill float-right mr-2">2</span></a>
                <ul class="menu-content">
                    <li routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"><a [routerLink]="['']"><i class="feather icon-circle"></i><span class="menu-item" data-i18n="Analytics">آنالیزها</span></a>
                    </li>

                </ul>
            </li>
            <li class=" navigation-header"><span> مدیریت وبلاگ</span>
            </li>


            <!--Start Author-->


            <li class="nav-item has-sub open"><a href="#"><i class="feather  icon-mail"></i><span class="menu-title" data-i18n="Ecommerce">مدیریت نویسندگان </span></a>
                <ul class="menu-content" style="">
                    <li class="is-shown" routerLinkActive="active"><a [routerLink]="['author']"><i class="feather icon-circle"></i><span class="menu-item" data-i18n="Shop">افزودن نویسنده</span></a>
                    </li>
                    <li class="is-shown" routerLinkActive="active"><a [routerLink]="['authorList']"><i class="feather icon-circle"></i><span class="menu-item" data-i18n="Details">لیست نویسندگان</span></a>
                    </li>

                </ul>
            </li>


            <!--End Author-->



            <!--Start Subject-->


            <li class="nav-item has-sub open"><a href="#"><i class="feather icon-message-square"></i><span class="menu-title" data-i18n="Ecommerce">مدیریت گروه ها </span></a>
                <ul class="menu-content" style="">
                    <li class="is-shown" routerLinkActive="active"><a [routerLink]="['subject']"><i class="feather icon-circle"></i><span class="menu-item" data-i18n="Shop">افزودن گروه</span></a>
                    </li>
                    <li class="is-shown" routerLinkActive="active"><a [routerLink]="['subjectList']"><i class="feather icon-circle"></i><span class="menu-item" data-i18n="Details">لیست گروه ها</span></a>
                    </li>

                </ul>
            </li>


            <!--End Subject-->



            <!--Start Post-->

            <li class="nav-item has-sub open"><a href="#"><i class="feather icon-check-square"></i><span class="menu-title" data-i18n="Ecommerce">مدیریت پست ها </span></a>
                <ul class="menu-content" style="">
                    <li class="is-shown" routerLinkActive="active"><a [routerLink]="['post']"><i class="feather icon-circle"></i><span class="menu-item" data-i18n="Shop">افزودن پست </span></a>
                    </li>
                    <li class="is-shown" routerLinkActive="active"><a href="#"><i class="feather icon-circle"></i><span class="menu-item" data-i18n="Details">لیست پست ها</span></a>
                    </li>

                </ul>
            </li>

            <!--End Post-->



            <!--Start Comment-->

            <li class="nav-item has-sub open"><a href="#"><i class="feather icon-calendar"></i><span class="menu-title" data-i18n="Ecommerce">مدیریت کامنت ها </span></a>
                <ul class="menu-content" style="">
                    <li class="is-shown" routerLinkActive="active"><a [routerLink]="['comment']"><i class="feather icon-circle"></i><span class="menu-item" data-i18n="Shop">افزودن کامنت</span></a>
                    </li>
                    <li class="is-shown" routerLinkActive="active"><a href="#"><i class="feather icon-circle"></i><span class="menu-item" data-i18n="Details">لیست کامنت ها</span></a>
                    </li>

                </ul>
            </li>



            <!--End Comment-->


        </ul>
    </div>
</div>
<!-- END: Main Menu-->