<div class="col-md-12 col-12" style="margin: 0px auto;scroll-behavior: auto;">

    <div class="card" style="height: auto">
        <div class="card-header">

            <div class="col-12 fonticon-container">
                <div class="fonticon-wrap">
                    <i class="feather icon-list text-info"></i>
                </div>
                <label class="fonticon-classname mt-1">لیست پست ها </label>
            </div>

        </div>

        <table class="table table-bordered table-striped table-hover">

            <tr class="bg-dark text-light">
                <th>ردیف</th>
                <th>عنوان پست</th>
                <th>نویسنده</th>
                <th>گروه</th>
                <th>متن</th>

                <th>تاریخ ثبت </th>
                <th>عملیات</th>
            </tr>
            <tr *ngFor="let post of postList; let i=index">

                <td>{{i+1}}</td>
                <td>{{post.title}}</td>
                <td>{{post.authorName}}</td>
                <td>{{post.subjectName}}</td>
                <td>{{post.text}}</td>
                <td>{{post.createDate|date :' HH:mm:ss - yyyy/MM/dd'}}</td>
                <td>
                    <div class="col-12 fonticon-container">
                        <div class="fonticon-wrap">
                            <i (click)="removepost(post.id)" title="حذف" class="feather icon-x-circle text-danger" style="font-size: 25px;cursor: pointer;"></i>
                        </div>

                    </div>
                </td>
            </tr>
        </table>


    </div>
</div>


<swal #removepostSwal title="" text="" icon="">
</swal>