<div class="card-content">
    <div class="card-body">
        <div class="feather-icons overflow-hidden row">


            <div class="col-md-12 col-sm-12 col-12 fonticon-container">
                <div class="fonticon-wrap">
                    <i class="feather icon-alert-triangle"></i>
                </div>
                <label class="fonticon-classname mt-1 text-danger">
                    صفحه مورد نظر یافت نشد!
                </label>
            </div>


        </div>
    </div>
</div>