<div _ngcontent-isg-c57="" class="col-md-12 col-12" style="margin: 0px auto; scroll-behavior: auto;">
    <div _ngcontent-isg-c57="" class="card" style="height: auto;">
        <div _ngcontent-isg-c57="" class="card-header">
            <div _ngcontent-isg-c57="" class="col-12 fonticon-container">








                <!-- BEGIN: Content-->
                <div class="app-content content">
                    <div class="content-overlay"></div>
                    <div class="header-navbar-shadow"></div>
                    <div class="content-wrapper">
                        <div class="content-header row">
                        </div>
                        <div class="content-body">
                            <!-- error 500 -->
                            <section class="row flexbox-container">
                                <div class="col-xl-7 col-md-8 col-12 d-flex justify-content-center" style="margin: -10px auto;">
                                    <div class="card auth-card bg-transparent shadow-none rounded-0 mb-0 w-100">
                                        <div class="card-content">
                                            <div class="card-body text-center">
                                                <img src="../../../assets/app-assets/images/pages/500.png" class="img-fluid align-self-center" alt="branding logo">

                                                <div class="feather-icons overflow-hidden row">


                                                    <div class="col-md-12 col-sm-12 col-12 fonticon-container">
                                                        <div class="fonticon-wrap">
                                                            <i class="feather icon-alert-triangle"></i>
                                                        </div>
                                                        <label class="fonticon-classname mt-1 text-danger">
                                                صفحه مورد نظر یافت نشد!
                                            </label>

                                                    </div>
                                                    <a class="btn btn-primary btn-lg m-b-6" href="#" style="margin: 0 auto;">بازگشت به خانه</a>

                                                </div>


                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                            <!-- error 500 end -->

                        </div>
                    </div>
                </div>
                <!-- END: Content-->



            </div>
        </div>
    </div>
</div>